 @import url('https://fonts.googleapis.com/css?family=Cairo');
 * {
 	font-family: 'Cairo', sans-serif;
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 
 }
 body {
 	background-color: whitesmoke;
 }
 .site-nav {
 	font-family: 'Cairo', sans-serif;
 }
 .site-header {
 	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.41)), url('../images/1.png');
 	height: 750px;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-position: center center;
 	position: relative;
 	background-attachment: fixed;
 }
 /*----------------navbar style----------------------------------*/

 nav ul li a {
 	font-size: 18px;
 	padding-top: 44px;
 }
 .navbar-dark .navbar-nav .nav-link {
 	color: rgba(255, 255, 255, .5);
 	padding: 21px 20px;
 }
 .navbar-brand {
 	position: relative;
 	position: absolute;
 	left: 60px;
 	bottom: 15px;
 }
 .logo {
 	position: absolute;
 	left: 55px;
 	bottom: -25px;
 }
 .nav-item:hover {
 	background-color: #219653;
 	height: 100%;
 }
 .main {
 	margin-top: 350px;
 }
 nav {
 	position: absolute;
 	bottom: 579px;
 	height: 70px;
 }
 .buttom-content {
 	margin-top: 470px;
 }
 .text {
 	margin-bottom: 0rem;
 }
 nav ul li:hover {
 	border-bottom: 2px solid #DFAA08;
 }
 .navbar>.container, .navbar>.container-fluid {
 	align-items: stretch;
 }
 .navbar-expand-md>.container-fluid {
 	padding-right: 0;
 }
 .site-nav {
 	background: #333;
 	width: 100%;
 	text-align: right;
 }
 
 
 /*--------------------orphan-----------------------------------*/

 .orphans-title {
 	color: #F2F2F2;
 	font-family: 'Tajawal', sans-serif;
 	padding: 5px;
 	margin-bottom: 100px;
 	margin-top: 50px;
 	font-weight: 600;
 }
 .zoom {
 	position: relative;
 	overflow: hidden;
 	border-radius: 15px 15px 0 0;
 }
 .zoom:hover img {
 	transition: scale(1.5);
 	-moz-transform: scale(1.5);
 	-webkit-transform: scale(1.5);
 }
 .zoom img {
 	transition: all 1.5s ease;
 }
 .card {
 	background: #333;
 	color: #F2F2F2;
 	border-radius: 15px;
 	margin-bottom: 30px;
 }
 /*--------------------------------cards------------------------------*/

 .card-title {
 	background: #219653;
 	padding: 10px;
 	font-weight: bold;
 }
 .card-img-top {
 	max-width: 1000px;
 	height: 190px;
 	border-radius: 15px 15px 0 0;
 }
 .card-body {
 	padding: 0px;
 	height: 220px;
 }
 .card-text {
 	margin-right: 10px;
 	margin-top: 20px;
 }
 .btn-k {
 	margin-top: 15px;
 }
 .jumbotron {
 	background-color: whitesmoke;
 	padding: 0;
 }
 .orphan-button {
 	margin-top: 36px;
 	border-radius: 30px 30px 30px 30px;
 	margin-bottom: 36px;
 }
 /*---------------------------forms---------------------------*/
 
 .form-control11 {
 	border: 2px solid #219653;
 	border-radius: 7px;
 	padding-bottom: 5px;
 	height: 55px;
 	margin-top: 5px;
 	background: #fff;
 	width: 100%;
	 padding: 15px;
	 font-size: 22px;
 }
 .form-control2 {
 	border: 2px solid #219653;
 	border-radius: 7px;
 	height: 60px;
 	width: 100%;
	 font-size: 22px;
 }
 .form-check-input {
 	height: 20px;
 	width: 20px;
 	border: 2px solid #219653;
 }
 input[type=checkbox]:checked+label:befor {
 	border: 2px solid #219653;
 }
 .mr-3, .mx-3 {
 	margin-right: 2rem!important;
 }
 label {
 	font-weight: bold;
 	color: #333;
 }
 /*------------------------sponser------------------------*/

 .jumbo-spo {
 	background-color: #e0e0e0;
	 margin-bottom: 0px;
	     margin-top: -26px;
 }
 .card-spo {
 	height: auto;
 }
 .card-texts {
 	width: 100%;
 	padding: 12px;
 	font-weight: bolder;
 	background: #219653;
 }
 /*---------------------------team-------------------------*/

 .jumbo-team {
 	background: #333;
 	padding: 30px;
 }
 .team-pho {
 	width: 220px;
 	height: 220px;
 	border: 4.3px solid #219653;
 }
 .team-title {
 	color: #F2F2F2;
 	font-family: 'Tajawal', sans-serif;
 	font-weight: 600;
 }
 .jumbo-or {
 	background-color: #cccfd2;
 }
 .about-us {
 	background: #F2F2F2;
 }
 .btn a {
 	background-color: #219653;
 }
 /*-------------------------register&sigin in-------------------*/

 .modal-content {
 	background: #333;
 }
 .form-control {
 	background: #333;
 	border: 2px solid #e0e0e0;
 }
.orphan-button{
	height: 50px;
	width: 200px;
	font-weight: bold;
	padding-top: 10px;
	font-size: 18px;
}
.sponsor-li {
	margin-bottom: -32px;
}
.form-check-input{
	    padding-left: 300px;
}
.form-check-label {
    margin-bottom: 8px;
	padding-right: 33px;
}
.input[type=checkbox], input[type=radio] {
    /* box-sizing: border-box; */
    /* padding: 0; */
    margin-left: 98px;
}